@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*general*/

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

hr {
    width: 80px;
    border-top: 3px solid #009688;
    margin-left: calc(50% - 40px);
}

.hr-left {
    width: 80px;
    border-top: 3px solid #009688;
    margin-left: 0;
}

.bg-gray-color{
    background-color: gainsboro;
}

/*paddings*/
.p-30 {
    padding-left: 15%;
    padding-right: 15%;
}

/*for nav */
.navbar {
    background-color: transparent; 
    position: absolute;  
    z-index: 100000;
    right: 5%;
}

a.nav-link p {
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bolder;
    transition: 0.4s;
    padding: 10px;
    margin: 10px;
    border: 2px solid whitesmoke
}

a.nav-link:last-child p {
    margin-right: 0px;   
}


a.nav-link p:hover {
    opacity: 0.5;
}

.navbar-nav {
    color: whitesmoke;
}

/* clases for jumotron */

.title-jumbo {
    color: whitesmoke;
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

.span-jumbo {
    font-size: 10rem;
    font-weight: bold;
    display: inline-block;
}


.img-jumbo {

    width:100%;
    height: 60vh;
    border-radius: 0px;
}


/*clases for about us*/

.col-left{
    background-color: #009688;
    color: whitesmoke;
    font-size: 7rem;
    
}

/* clases for footer  */

.top-footer {
    padding: 3% 7% 3% 7%;
    color: whitesmoke;
    font-size: 1.5 rem;
}

.top-footer-right-padding {
    padding-right: 7%;
}

.down-footer {
    padding: 15px;
    border-top: 1px solid whitesmoke;
    text-align: center;
    background-color: yellow;
}

.down-footer a{
    text-decoration: none; 
}



@media screen and (max-width: 600px) {
    .col-left{
        display: none;
    }


    .w3-third {
      padding-top: 7%;
    }
    .p-30 {
        padding-right: 0%;
        padding-left:0%
    }
  
  }
